@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.top-block {
    height: 40px;
    background-color: white;
}

@import 'base/variables';
@import 'blocks/header';
@import 'blocks/cards';
@import 'blocks/advantages';
@import 'blocks/footer';
@import 'blocks/media';
@import 'base/variables';